.contact-btn-phone-description-big {
    width:95px;
    height:22px;
    color:#E01a1a;
    margin-left:50.95px;
    margin-top:5px;
    font-size: 16px;
}

.contact-btn-phone-description-small {
    width:95px;
    height:22px;
    color:#E01a1a;
    margin-left:25px;
    margin-top:6px;
    font-size: 14px;
}
.contact-btn-email-description-big {
    width:38px;
    height:19px;
    color:#E01a1a;
    margin-left:48px;
    margin-top:5px;
    font-size: 16px;
}

.contact-btn-email-description-small {
    width:38px;
    height:19px;
    color:#E01a1a;
    margin-left:30.58px;
    margin-top:6px;
    font-size: 14px;
}

.contact-btn-live-description-big {
    width:32px;
    height:19px;
    color:#ffffff;
    margin-left:50.96px;
    margin-top:5px;
    font-size: 16px;
}
.contact-btn-live-description-small {
    width:32px;
    height:19px;
    color:#ffffff;
    margin-left:30.96px;
    margin-top:6px;
    font-size: 16px;
}

.contact-btn-common {
    position: absolute;
    font-family: Open Sans, Semibold;
}