.contact-desc-big {
    position: absolute;
    width:229px;
    height: 12px;
    color: #333333;
    font-size: 11px;
    margin-left: 33px;
    margin-top: 319px;
    font-family: Open Sans, Regular
}
